<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Certification70_483._03_DebugApplicationsAndImplementSecurity._01_ValidateApplicationInput.common.ShopContext;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"></add>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.diagnostics>
    <sources>
      <source name="myTraceSource" switchName="defaultSwitch">
        <listeners>
          <add initializeData="output.txt"
 type="System.Diagnostics.TextWriterTraceListeer"
 name="myLocalListener">
            <filter type="System.Diagnostics.EventTypeFilter"
            initializeData="Warning"/>
          </add>
          <add name="consoleListener" />
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="output.xml" type="System.Diagnostics.XmlWriterTraceListener"
         name="xmlListener" traceOutputOptions="None" />
      <add type="System.Diagnostics.ConsoleTraceListener" name="consoleListener"
          traceOutputOptions="None" />
    </sharedListeners>
    <switches>
      <add name="defaultSwitch" value="All" />
    </switches>
  </system.diagnostics>
</configuration>
